.center {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #395EC4;

    a{
        cursor: pointer;
        color: #EE3C11;
        font-weight: bold;
    }
}
  