.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 600px;

        .field-group{
            width: 100%;
    
            input{
                width: 100%;
            }
        }
    }
}

