<div class="homepage">
  <div class="homepage_banner"><img class="homepage_banner_img" src="assets/P12_banner.png" alt="Banner Your car your way"></div>

  <div class="homepage_container">
        <a 
          class="homepage_button homepage_button_login" 
          mat-button 
          (click)="navigateLogin()"
        >
            Login
        </a>
        <a 
          class="homepage_button homepage_button_register" 
          mat-button 
          (click)="navigateRegister()"
        >
            Register
        </a>
  </div>
</div>